body{
    background-image: url('../img/bg_forgotpw.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.forgotpw-content{
    min-height: 100vh;
    padding-top: 80px;
}
.forgotpw-content .forgotpw-form{
    width: 340px;
    margin: 0 auto;
}
.forgotpw-content .forgotpw-form h1{
    font-size: 36px;
    color: #fff;
}
.forgotpw-content .form-box{
    background: #000000b8;
    margin-top: 50px;
    padding: 35px 25px;
    border-radius: 5px;
}
.forgotpw-content .form-box h5{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #fff;
}
.forgotpw-content .form-box input{
    color: black;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 13px;
}
.forgotpw-content .form-box .form-control:focus{
    border-color: none;
    box-shadow: none;
}
.forgotpw-content .form-box a{
    color: #fff;
}
.forgotpw-content .form-box a:hover{
    color: #ff9000;
    text-decoration: none;
}