.box-partner{
    width: 100%;
}
.nav-tabs .nav-item{
    width: 50%;
    padding: 0;
   
}
.nav-tabs .nav-link{
    border-radius: 0;
    text-align: center;
}
.nav-tabs .nav-link.active {
    background: #00F260;
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);
    background: linear-gradient(to right, #0575E6, #00F260);
    color: white !important;
    font-size: 16px;
   
}
.bottom-pager {
    display: flex;
    justify-content:space-between;
    background: #ddd;
    font-family: Tahoma;
    width: 100%;
    border: 1px solid #dedede;
    border-top: 0px;
}
.bottom-pager .left {
    display: flex;
    padding: 2px 3px;
}
.bottom-pager .right {
    padding: 2px 3px;
}
.bottom-pager a.first-disable {
    background: url(https://forvietvn.com/Content/Admin/Images/gridview/icon.png) no-repeat scroll left -128px transparent;
}

.bottom-pager a {
    display: block;
    width: 21px;
    height: 21px;
}
.bottom-pager span, .bottom-pager a, .bottom-pager input {
    margin-right: 5px;
}
.bottom-pager a.pre-disable {
    background: url(	https://forvietvn.com/Content/Admin/Images/gridview/icon.png) no-repeat scroll left -446px transparent;
}
.bottom-pager span {
    font-weight: bold;
    font-size: 11px;
    margin-top: 3px;
}
.bottom-pager input {
    width: 18px !important;
    height: 16px !important;
    border: 1px solid #ccc;
    font-size: 11px;
    padding: 1px !important;
    margin-top: 3px;
}
.bottom-pager a.next-disable {
    background: url(https://forvietvn.com/Content/Admin/Images/gridview/icon.png) no-repeat scroll left -340px transparent;
}
.bottom-pager a.last-disable {
    background: url(.https://forvietvn.com/Content/Admin/Images/gridview/icon.png) no-repeat scroll left -234px transparent;
}
.label-color {
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    padding: 0.25rem 0.75rem;
}
.btn-group.btn-group .btn-lg{
    padding: 8px 16px;
    border-color: #ccc;
}
.btn-group.btn-group .btn-lg i{
    color: #878793;
    font-size:15px
}
.tree-horizontal ul{
    list-style: none
}
.tree-horizontal ul li{
    padding:10px 0
}
.tree-horizontal ul li a
,.tree-horizontal ul li a svg{
    color:#333 !important
}
.tree-horizontal ul li a{
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
}
@media screen and (max-width:768px){
    #searchTable.table tr td {
        display: block;
    }
    
}
.c-label {
    min-width: 120px;
    display: block;
    text-align: center;
}