.login-content.row{
    margin: 0;
}
.login-content .left{
    background-image: url('../img/login1.png');
}
.login-content .right{
    background-image: url('../img/login2.png');
    padding-top: 60px;
}
.login-content>div{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.login-content .login-form{
    width: 340px;
    margin: 0 auto;
}
.login-content .form-box{
    background: #0000004f;
    margin-top: 50px;
    padding: 35px 25px;
    border-radius: 5px;
}
.login-content .form-box h5{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #fff;
}
.login-content .form-box input{
    color: black;
    margin-bottom: 20px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 13px;
}
.login-content .form-box .form-control:focus{
    border-color: none;
    box-shadow: none;
}
.login-content .form-box .form-group{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}
.login-content .form-box .form-group input{
    width: 16px;
    height: 16px;
}
.login-content .form-box .form-group a{
    text-align: right;
    color: #fff;
}
.login-content .form-box .form-group a:hover{
    color: #ff9000;
    text-decoration: none;
}