.box-product{
  border: 1px solid #5d570b;
  padding: 15px;
  min-height: 240px;
  overflow: auto;
  margin-bottom: 14px;
}

.box-product h3 a{
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #5d570b;
  font-weight: bold;
}
h3 {
  font-size: 16px;
  font-weight: 500;
}
.mg-30{
  margin-top: 30px;
}
.mg-30 p{
  color: #333;
  font-size: 14px;
  font-weight:500;
  font-family: "Poppins", sans-serif;
}
.mg-30 .label-success {
  background-color: #28a745;
}

.mg-30 .label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.mg-10 {
  margin-top: 10px;
}
.btn.btn-primary.btn-sm {
  width: 80px;
  margin-top: 10px;
}
.btn-sm {
  font-size: 16px !important;
}
.btn-sm {
  padding: 0.25rem 0.5rem !important;
  font-size: .875rem !important;
  line-height: 1.5 !important;
  border-radius: 0.2rem !important;
  color: #fff !important;
}
.svg-inline--fa {
  height:1em;
  color: #fff;  
}

.hidden{
  display:none
}