/* widget */
.profile-content.widget {
    border: 1px solid #f5b80c;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin: 0 15px 15px;
}
.profile-content.widget .widget-head{
    border-bottom: 1px solid #4f4f4f;
    position: relative;
    padding: 14px 15px 11px;
    background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);
}
.profile-content.widget .widget-head .heading {
    color: white;
    font-size: 20px;
    margin: 0;
    line-height: 22px;
    font-weight: 400;
    text-transform: uppercase;
}
.profile-content.widget .widget-body{
    padding: 15px;
}
.profile-content.widget .form-content label{
    font-size: 13px;
    font-weight: bold;
}
.profile-content.widget .form-content input{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}

/* Button Sửa ảnh */
.profile-content.widget .btn-sm{
    font-size: 8.75px !important;
}
.profile-content.widget .btn-danger {
    color: #fff;
    background-color: #f9423c;
    border-color: #f9423c;
}
.profile-content.widget .form-content .form-group.text-center{
    position: relative;
}
.profile-content.widget .btn-avt {
    position: absolute;
    top: 40%;
    margin-left: 5px;
}

/* ảnh AVT */
.profile-content.widget .form-content .form-group.text-center img{
    object-fit: cover;
}
.profile-content.widget .anhcmt {
    width: 70px;
    height: 105px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px;
    /* cover */
    object-fit: cover;
}

/* heading H3 */
.profile-content.widget .form-content h3.heading{
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}