#wrapper {
  display: flex;
  height: 100vh;
}
#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}
.sidebar-main {
  width: 20rem;
  background-color: #3a3952;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  overflow-y: auto;
}
.sidebar-main::-webkit-scrollbar-track{
  background-color: pink;
}
.sidebar-main::-webkit-scrollbar{
  width: 5px;
  background-color: #F5F5F5;
}
.sidebar-main::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #D62929;
}
.sidebar-main .side-nav {
  padding-top: 10px;
  list-style-type: none;
  list-style: none;
  padding-left: 0;
}
.sidebar-main .side-nav .menu-item {
  padding: 5px 0;
}
.sidebar-main .side-nav .menu-item a {
  text-decoration: none;
  position: relative;
  padding: 15px 0 15px 15px;
  color: #b8c7ce;
  -webkit-transition: 0s;
  transition: 0s;
}
.sidebar-main .side-nav .menu-item a span i {
  padding-right: 10px;
}
.sidebar-main .side-nav li .support {
  margin: 30px;
}
.sidebar-main .side-nav li .support p {
  font-size: 14px;
  color: #878793;
}
.sidebar-main .side-nav li .support p i {
  padding-right: 5px;
}
.sidebar-main .side-nav li .support a:hover,
.sidebar-main .side-nav li .support a:focus{
  background: none !important;
  color: #878793 !important;
}

.logo-brand {
  background-color: #fff;
}
.logo-brand .sidebar-logo {
  padding: 20px;
}
.logo-brand .sidebar-logo a img {
  width: 100px;
}
.logo-brand .sidebar-logo .box-text h2 {
  font-size: 18px;
  font-weight: 500;
  color: #3a3952;
  margin-top: 10px;
}
.logo-brand .sidebar-logo .box-text span {
  display: inline-block;
  background: #bf4d35;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
  padding: 0.25rem 0.75rem;
}

.card-gradient-primary {
  background-color: #0ab1e8;
  background-image: linear-gradient(to right, #0ab1e8, #28f39a);
}

.card-gradient-warning {
  background-color: #fea837;
  background-image: linear-gradient(to right, #fea837, #fed257);
}

.card-table .card.h-100 {
  height: 80% !important;
}
.card-table .card .card-body {
  padding: 10px 20px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #fff;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #0ab1e8;
  background-image: linear-gradient(to right, #45bde5, #28f39a);
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

/* #sidebar ul p {
    color: #fff;
    padding: 10px;
} */
#sidebar ul li a {
  padding: 10px;
  font-size: 14px;
  display: block;
}

#sidebar ul li a:hover, #sidebar ul li a.active {
  color: #7386D5;
  background: #fff;
}


a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  height:auto;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
------------------
---------------------------------- */
@media (max-width: 768px) {
  #sidebar.active {
      margin-left:0;
  }
  #sidebarCollapse span {
      display: none;
  }
  #sidebar {
    margin-left: -250px;
}
#wrapper #content-wrapper {
  overflow: visible;
}
}
.topbar{
  height: 3.5rem;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #d1d3e2;
}
.topbar .nav-item .nav-link {
  height: 4.375rem;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
}
.sidebar .nav-item .nav-link .badge-counter, .topbar .nav-item .nav-link .badge-counter {
  position: absolute;
  transform: scale(.7);
  transform-origin: top right;
  right: 0.25rem;
  margin-top: -0.25rem;
}

.badge-danger {
  color: #fff;
  background-color: #e74a3b;
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.topbar .topbar-divider {
  width: 0;
  border-right: 1px solid #e3e6f0;
  height: calc(4.375rem - 2rem);
  margin: auto 1rem;
}
.nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
  height: 2rem;
  width: 2rem;
  max-width: none;
}
.rounded-circle {
  border-radius: 50%!important;
}
.dropdown-toggle::after {display:none !important
  ;}

#sidebar .nav-link[data-toggle].collapsed:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  float:right
}
#sidebar .nav-link[data-toggle]:not(.collapsed):after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  float:right;
}